.h-100.h-custom {
  background-color: #eee;
}

.img-fluid.rounded-3 {
  width: 65px;
}

input#form1 {
  padding: 5px;
  width: 5em;
}

.total-price {
  width: 100px;
}

.trash-btn {
  color: #b40c0c;
}

.quantity {
  width: 200px;
}

.success-div {
  height: 300px;
}

.success-img {
  width: 20%;
}

@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
}

.gradient-custom {
  background: #6a11cb;
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
