<nav class="navbar bg-primary navbar-expand-lg"  data-bs-theme="dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="/"><h4>StoreFront</h4></a>
      <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page">Cart</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
